.card {
  // width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  &_header {
    // height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
  }

  &_title {
    color: #fff;
  }

  &_body {
    padding: 16px 12px 25px;
  }

  &_button {
    // max-width: 180px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}